html{
  font-size: 50px;
}

#mobileheader{
  flex: 1;
  background: #f6f6f6;
}

#mobileheader header{
  border-bottom: 1px solid #2db7f5;
  padding-left: 10px;
}

#mobileheader header img{
  height: 50px;
}

#mobileheader header span{
  font-size: 35px;
  vertical-align: top;
  padding-left: 5px;
  color: #2db7f5;
}


#mobileheader i{
  font-size: 0.5rem;
  float: right;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  color:#2db7f5;
}

#mobile-login-modal, #mobile-login-form {
  max-width: 350px;
}

#mobile-login-form #mobile-login-form-forgot {
  float: right;
}

#mobile-login-form #mobile-login-form-button {
  width: 100%;
}

#mobileNewsList{
  width:100%;
  padding: 0 2px;
}

#mobileNewsListImg img{
  width:30%;
  float: left;
  margin-right: 5%;
}



